.Backdrop {

    width: 100%;
    height: 100%;
    
    /*Ostaje na poziciji cak i ako skrolamo*/
    position: fixed;
    
    /*Da je iznad elemenata koji trebaju biti ispod, bit ce bitno za toolbar kad se doda */
    z-index:100;
    
    /*Pozicionarno je na vrhu lijevo*/
    left:0;
    top:0;
    
    background-color:  rgba(0, 0, 0, 0.5);
    }


    